.contact-form {
    grid-column: 2;   
    display: grid;
    padding:2em;
    grid-template-rows: 1em 1fr;

}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    grid-gap: 12px;
    width:40em;
    border: solid 1px rgba(173, 169, 169, 0.425);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding:1em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 9px;
    background-color: white;    
}

.form-input {
   display: grid; 
   width:100%;
   position: relative;
   grid-template-columns: auto 1fr auto;
   grid-gap: 1em;
   height:2em
}


.form-input i {
    position: absolute;
    bottom:8.5px;
    left:5px;
}

.phone-input, .general-input, .extension-input, .country-menu {  
    border-bottom: solid 1px rgba(0, 0, 0, 0.098);    
    font-size: 0.9em;
}

.input-edit-display  {
    border-bottom: solid 1px rgba(0, 0, 0, 0.098);  
    grid-column: 1/-1;
    padding-left: 2em;
    align-items: center;
    display: grid;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 28px;
    font-size: 0.9em;
    cursor: pointer;
}

.extension-input-edit {  
    border-bottom: solid 1px rgba(0, 0, 0, 0.098);  
    font-size: 0.9em;
    width:6em;
    display: grid;
    align-items: center;
    padding-left: 6px;
    cursor: pointer;
}

.phone-input-edit {
    padding-left: 28px;
    display: grid;
    align-items: center;
    align-self: center;
    align-content: center;
    padding-left: 28px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.098);  
    height:100%;
    font-size: 0.9em;
    cursor: pointer;
    
}
.phone-input-wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;    
}

.phone-input, .general-input { 
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 28px;
}


.extension-input {
    width:6em;
    padding-left: 6px;
    
}

input[type=text]:focus{
    background-color: #e6e4e43c;
}

.country-menu input[type=text] {
    background-color: white;
}

label {  
    align-self: center;  
}

.general-input {
    grid-column: 1/-1;

}

.contact-form button {
    grid-column: 1/-1;
}

.country-menu {
    height:100%;
    cursor: pointer;
    position: relative; 
    display: grid;
    width:6em;
    padding-left: 5px;
}

.country-menu-item {
    padding:4px;
    border-radius: 3px;


}
.country-menu-item:hover{
    background-color: white;

}

.search-box {
    width:100%;
    height:100%;  
}

.search-menu {
    max-height: 7em;
    width: max-content;
    left:0;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    background-color: #E6E4E4;
   padding:4px; 
    top:120%;
    overflow-y: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    border-radius: 6px;
    display: grid;
    grid-gap: 5px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
       border: solid 1px rgba(173, 169, 169, 0.425);
}

.country-display {

    align-self: center;
}

.submit-button {
    width:6em;
    border: solid 1px rgba(173, 169, 169, 0.425);
    justify-self: center;
    height:2em;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    margin-top: 1em;
    margin-bottom: 1em;

}

.submit-button:active {
    box-shadow: none;

}

.error-text {
    font-size: 0.8em;
    color:rgba(190, 15, 15, 0.518);


}