.header {
    height:4em;
    width:100%; 
    display: grid;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    border: solid 1px rgba(173, 169, 169, 0.425);
    background-color: white;
    grid-template-columns: 1fr auto;

}

.header img {
    align-self: center;
    width:2em;
    height:auto;
}

.header-icon-wrap {
    align-self: center;
}

.header i {



    font-size: 1.3em;
    font-weight: 900;
    cursor: pointer;
 
    
}

.header-functions {
    display: grid;
    grid-template-columns: auto auto;
    justify-self: end;
    margin-right: 5em;
    align-items: center;
    grid-gap: 1em;
    align-content: center;
}

.header-functions a {
    display: grid;
}
